.newscontainer {
    background-color: #4FCCC3;
    border-bottom: #102048 solid;
    color: #102048;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card-body{
    display: flex;
    flex-direction: column;
}
.newscard {
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    background-color: #FEF4DB;
    margin: 20px 10px;
    height: 500px;
    width: 360px;
    text-align: center;
}

.newscard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.newscard img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 230px;

}

.newscard-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #102048;
    margin: 0.5rem;
    height: 60px;
}

.newscard-text {
    font-size: 1rem;
    margin: 0.5rem;
    color: #102048;
    height: 110px;
}


.buttonEnviarNews button{
	background-color: #4FCCC3!important;
	color: #102048 !important;

}


.buttonEnviarNews button:hover{
	background-color: #102048!important;
	color: #FEF4DB !important;
}

